body {background-color: rgba(190, 143, 143, 0.562); width: 80%; margin: auto;}

.enquiry, .form, .signature {width: 50vw; margin: auto;}
.enquiry, .signature {text-align: center; margin-top: 5px;}
.form {padding: 5px 5px; background-color:blanchedalmond;}
.enquiry {padding-bottom: 5px; text-align:justify;}
h1 {text-align: center;}
h2 {margin-bottom:5px;}

fieldset {text-align: justify; border-radius: 5px; border-style:inset;}

.encarregados {display:block;}
.name, .email, .mobile, .parentesco, .city {display: block; padding:5px 5px;}
.responsible-input {display:block; width: 30vw;}

.kidname {display:block; margin-bottom: 5px;}
.kid-input, .kidage-input{display: inline-block; margin:0px 5px;}
.kid-input {width: 30vw;}

.efficacy {display: block;}
.efficacy-input {width: 15vw; display: block;}

.social-field{}
.social-div{margin-bottom: 5px;}
.social-input, .social-label{display: inline-block;}

.improvement-field{}
.improvement-div {margin-bottom: 5px; padding-bottom: 10px;}
.improvement-label, .improvement-input {display: inline-block; padding-bottom: 10px;}

.opinion-div {margin-top: 10px;}
.opinion-label{display: inline; margin-bottom: 10px;} 
.opinion-input{display: block; margin-top: 10px;}

.submit {margin: auto; display: block; margin-top: 10px; margin-bottom:10px;}